<ion-content fullscreen class="ion-padding" scroll-y="false" *ngIf="shouldShow">
  <ion-slides>

    <ion-slide>
      <div class="slide">
        <h2 style="color: white">Dobrodošli</h2>
        <p><b>Ramazan</b> aplikacija donosi odbrojavanje do iftara i sehura, tespih aplikaciju i još mnogo toga.
          Vrijeme iftara i sehura je usklađeno sa <u>vaktija.ba</u> i ovim putem im se zahvaljujemo na tim podacima.</p>
        <ion-button (click)="pocnimo()">Počnimo
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
      </div>
    </ion-slide>

  </ion-slides>
</ion-content>
