<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Odbrojavanje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <h1 class="capitalize" *ngIf="countDownText">
      {{ countDownText }} je za:
    </h1>
    <br>
    <flx-circle-timer
      #timer
      color="#3880ff"
      style="color: white!important"
      [startDate]="startDate"
      [duration]="duration"
      (onComplete)="odbrojano()"
    ></flx-circle-timer>
    <br>
    <ion-item color="primary">
      <ion-select placeholder="Odaberite grad" (ionChange)="cityChange($event)" [selectedText]="city" okText="OK" cancelText="Zatvori">
        <ion-select-option
          [value]="grad.key"
          *ngFor="let grad of gradoviPostanskiBroj | keyvalue: valueAscOrder"
        >
          {{ grad.value }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="city" color="dark">
      <ion-label>Zapamti grad</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="zapamtiGrad" (ionChange)="zapamtiGradChange()"></ion-checkbox>
    </ion-item>
  </div>
</ion-content>
